.gradle
.classpath
.project
.settings
*.log
build
_lib
screenshot*.png
/gradle_localOverride.cmd
/gradlew_build.cmd
/gradlew_install.cmd
/gradlew_javadoc.cmd
/gradlew_lib.cmd
/gradlew_release.cmd
/gradlew_repairHeaders.cmd
/gradlew_test.cmd
/gradlew_updateWrapper.cmd

/jfxtras-test-support/bin
/gradlew_assemble.cmd
/.nb-gradle/private/
/.nb-gradle/profiles/private/
.idea
out
/jfxtras-agenda/target
/jfxtras-common/target
/jfxtras-controls/target
/jfxtras-font-roboto/target
/jfxtras-fxml/target
/jfxtras-gauge-linear/target
/jfxtras-icalendaragenda/target
/jfxtras-icalendarfx/target
/jfxtras-menu/target
/jfxtras-test-support/target
/jfxtras-window/target
