@font-face {
	src: url("/Roboto-Black.ttf");
}

/* Italic with the same name in the TTF is not supported  
@font-face {
	src: url("/Roboto-BlackItalic.ttf");
}
*/

@font-face {
	src: url("/Roboto-Bold.ttf");
}

/* Italic with the same name in the TTF is not supported  
@font-face {
	src: url("/Roboto-BoldItalic.ttf");
}
*/

@font-face {
	src: url("/Roboto-Medium.ttf");
}

/* Italic with the same name in the TTF is not supported  
*/
@font-face {
	src: url("/Roboto-MediumItalic.ttf");
}

