/* basic settings */
.CalendarPicker { 
}

.CalendarPickerControlSkin { 
}



.CalendarPickerControlSkin .weeknumber {
}

.CalendarPickerControlSkin .non-weekend { 
}

.CalendarPickerControlSkin .weekend { 
	-fx-text-fill: -fx-accent;
}

.CalendarPickerControlSkin .day-button { 
}

/* highlight today */
.CalendarPickerControlSkin .today { 
    -fx-color: DARKGRAY; 
}

.CalendarPickerControlSkin .today-button { 
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

/* highlight today */
.CalendarPickerControlSkin .highlight { 
	-fx-font-weight: bold;
	-fx-font-style: italic;
}

.CalendarPicker .ListSpinner { 
    /*	-fxx-arrow-position:SPLIT; */
    /*	-fxx-arrow-direction:VERTICAL; */
    /*	-fxx-value-alignment:CENTER; */
}
